@using BugsTrackingSystem.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>  
<div class="menu">
    <div class="container">
        <nav class="navbar navbar-default menu">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav linkItemMenu">
                        <li id="mainLogo" class="menuLink"><a href="~/Manage/Home"><img src="~/images/logo.png"></a></li>
                        <li><a href="/Manage/Projects">Projects</a></li>
                        <li><a href="/Manage/Users">Users</a></li>
                        <li><a href="/Manage/Filters">Filters</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li><button class="open menuButton"><span><i class="fa fa-plus"></i>Create task</span></button></li>
                    </ul>
                    <div class="nav navbar-nav navbar-right">
                        <div class="navbar-left">
                            <a href="#">
                                <i id="search_icon" class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="navbar-right">
                            @{
                                Html.RenderAction("ProfilePartial", "Manage");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

@{
    Html.RenderAction("CreateNewTaskView", "Manage");
}

<div class="container body-content">
    @RenderBody()
</div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/scripts.js")
        @RenderSection("scripts", required: false)
</body>
</html>
