
@{
    ViewBag.Title = "Filters";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var projects = new List<SelectListItem>
        {
            new SelectListItem
            {
                Text = "project1",
                Value = "0"
            },
            new SelectListItem
            {
                Text = "project2",
                Value = "1"
            }
        };

    var users = new List<SelectListItem>
        {
            new SelectListItem
            {
                Text = "user1",
                Value = "0"
            },
            new SelectListItem
            {
                Text = "user2",
                Value = "1"
            }
        };

    var priority = new List<SelectListItem>
        {
            new SelectListItem
            {
                Text = "Minor",
                Value = "0"
            },
            new SelectListItem
            {
                Text = "Major",
                Value = "1"
            }
        };

    var status = new List<SelectListItem>
        {
            new SelectListItem
            {
                Text = "To do",
                Value = "0",
                Selected = true
            },
            new SelectListItem
            {
                Text = "Done",
                Value = "1"
            },
            new SelectListItem
            {
                Text = "In Process",
                Value = "2"
            }
        };
}

<div class="container">
    <div class="col-md-12 col-xs-12">
        <ul class="list-inline">
            <li>
                <h1><b>Filters</b>
                </h1>
            </li>
            <li>
                
                <div id="add_filter" title="Create new project">
                    @using (Html.BeginForm("Project", "Manage", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                    {
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-10">
                                    @Html.TextBox("Name", null, "", htmlAttributes: new {@class = "form-control projInput", placeholder = "Filter Name", required = true})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-10">
                                    @Html.TextBox("Search", null, "", htmlAttributes: new { @class = "form-control projInput", placeholder = "Search", required = true })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-5">
                                    @Html.DropDownList("Priority", priority, new {@class = "btnDropTask", placeholder = "Priority"})
                                </div>
                                <div class="col-xs-5">
                                    @Html.DropDownList("Status", status, new {@class = "btnDropTask", placeholder = "Status"})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-5">
                                    @Html.DropDownList("Project", projects, new { @class = "btnDropTask", placeholder = "Project" })
                                </div>
                                <div class="col-xs-5">
                                    @Html.DropDownList("Assignee", users, new { @class = "btnDropTask", placeholder = "Assignee" })
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <input type="submit" class="btn-pop btn-default" vlaue="Create"/>
                        </div>
                    }
                </div>
                <i id="open_filter" class="fa fa-plus taskIcon projPlus" aria-hidden="true"></i>
            </li>
        </ul>
        <div class="col-md-3 col-xs-6 MyFilters">
            <h3 class="projName">Financier Filter</h3>
            <ul class="list-inline icons filtersStat" style="list-style-type: none">
                <li>
                    <span class="projText">Search:</span>
                    <span>invalid</span>
                </li>
                <li>
                    <span class="projText">Status:</span>
                    <span>Done, To do...</span>
                </li>
                <li>
                    <span class="projText">Priority:</span>
                    <span>Major, Minor...</span>
                </li>
                <li>
                    <span class="projText">Project:</span>
                    <span>The Titan, T...</span>
                </li>
                <li>
                    <span class="projText">Assignee:</span>
                    <span>George Or...</span>
                </li>
            </ul>
        </div>

        <div class="col-md-3 col-xs-6 MyFilters">
            <h3 class="projName">Titan Filter</h3>
            <ul class="list-inline icons filtersStat" style="list-style-type: none">
                <li>
                    <span class="projText">Search:</span>
                    <span>invalid</span>
                </li>
                <li>
                    <span class="projText">Status:</span>
                    <span>Done, To do...</span>
                </li>
                <li>
                    <span class="projText">Priority:</span>
                    <span>Major, Minor...</span>
                </li>
                <li>
                    <span class="projText">Project:</span>
                    <span>The Titan, T...</span>
                </li>
                <li>
                    <span class="projText">Assignee:</span>
                    <span>George Or...</span>
                </li>
            </ul>
        </div>

        <div class="col-md-3 col-xs-6 MyFilters">
            <h3 class="projName">Titan Filter</h3>
            <ul class="list-inline icons filtersStat" style="list-style-type: none">
                <li>
                    <span class="projText">Search:</span>
                    <span>invalid</span>
                </li>
                <li>
                    <span class="projText">Status:</span>
                    <span>Done, To do...</span>
                </li>
                <li>
                    <span class="projText">Priority:</span>
                    <span>Major, Minor...</span>
                </li>
                <li>
                    <span class="projText">Project:</span>
                    <span>The Titan, T...</span>
                </li>
                <li>
                    <span class="projText">Assignee:</span>
                    <span>George Or...</span>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container">
    <div class="col-xs-6">
        <br>
        <p>
            <i class="fa fa-filter underContent" aria-hidden="true"> Filters: 35</i>
        </p>
    </div>
</div>

