@using BugsTrackingSystem.Helpers
@model BugsTrackingSystem.Models.UserProfileHomeViewModel

@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="col-md-3 col-xs-12">
        <div class="row">

            <h1 style="padding-bottom: 15px"><b>Projects</b>
            </h1>

            @foreach (var project in Model.Projects)
            {
                <div class="col-md-3 col-xs-6 MyProjectsHome" onclick="goto_project_home(projId = @project.ProjectId)">
                    @Html.Hidden("Id", project.ProjectId)
                    <h3 class="projName">@project.Name</h3>
                    <p class="projPref">@project.Prefix</p>
                    <div class="text-right">
                        <ul class="list-inline icons">
                            <li>
                                <i class="fa fa-pencil-square-o" aria-hidden="true"> @project.DefectsCount</i>
                            </li>
                            <li>
                                <i class="fa fa-users" aria-hidden="true"> @project.UsersCount</i>
                            </li>
                        </ul>
                    </div>
                </div>
            }
            @if (Model.Projects != null && (Model.Projects.Count() > 0))
            {
                <a href="/Manage/Projects" style="margin-left: 20px">
                    Show all
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-11">

            <h1><b>Assigned to me</b></h1>

            <div class="text-right col-md-12 col-xs-12">
                @Html.PageLinks(Model.Paged, x => Url.Action("Home", new { page = x }))
            </div>

            <table class="table projectTableHome">
                <tbody>
                    @foreach (var defect in Model.Defects)
                    {
                        <tr class="clickable-row" data-href="/Manage/Task/@defect.DefectId">
                            <td class="col-xs-1">
                                <img class="projectIcon" src="@defect.PriorityPhoto">
                            </td>
                            <td>
                                <label>@defect.Prefix</label>
                                @if (defect.Status == "Done" || defect.Status == "Closed")
                                {
                                    <span class="project_done" style="margin-top: -5px;">@defect.Status</span>
                                }
                                else if (defect.Status == "Open")
                                {
                                    <span class="project_progress" style="margin-top: -5px;">@defect.Status</span>
                                }
                                else
                                {
                                    <span class="project_todo" style="margin-top: -5px;">@defect.Status</span>
                                }
                                <p class="project_subject">@defect.Subject</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <i class="fa fa-pencil-square-o ProjTasks" aria-hidden="true"> All my tasks: @Html.Encode(Model.Paged.TotalItems)</i>
        </div>
    </div>
</div>
