@using BugsTrackingSystem.Helpers
@model BugsTrackingSystem.Models.UserProfileViewModel
@{
    ViewBag.Title = "Profile";

    Model.Roles.First(p => p.Value == Model.User.RoleId.ToString()).Selected = true;
}

<!-- ============================================== -->
<div id="edit_photo">
    @using (Html.BeginForm("Upload", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.Hidden("userId", Model.User.UserId)
        <div class="form-group" style="margin-left: 20px;">
            <label for="file" class="control-label">Select an Image</label>
            <input type="file" name="file" id="file" />
            <br />
            <div class="text-right" style="margin-right: 20px;">
                <input type="submit" value="Upload" class="btn-pop btn-default" />
            </div>
        </div>
    }
</div>
<!-- ============================================== -->

<div class="container">
    <div class="col-md-3 col-xs-12">
        <div class="row">

            <h1 style="padding-bottom: 15px"><b>My Profile</b>
            </h1>

            <div class="col-md-3 col-xs-6 MyProfile">
                <ul class="list-inline">
                    <li>
                        <img class="img-circle" src="@Model.User.UserPhoto" width="50" height="50" style="margin-top: -10px; margin-left: 10px;"/>
                    </li>
                    <li>
                        <span><b>@Model.User.FirstName</b></span><br>
                        <span><b>@Model.User.Surname</b></span>
                    </li>
                </ul>
                <ul class="persInfo" style="list-style-type: none; margin-top: 10px">
                    <li>
                        <p class="projText">Email:</p>
                    </li>
                    <li>
                        <p>@Model.User.Email</p>
                    </li>
                    <li>
                        <p class="projText">Role:</p>
                    </li>
                    <li>
                        <p>@Model.User.Role</p>
                    </li>
                </ul>
            </div>


            <div class="text-right">
                <ul class="list-inline col-xs-12" style="width: 220px">
                    <li>
                        <div id="change_password">
                            @using (Html.BeginForm("ChangePassword", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", name = "form_change_password", onsubmit = "return validate_password()" }))
                            {
                                <p id="validation_pasword" style="color: Red; text-align: center;"></p>

                                @Html.AntiForgeryToken()
                                @Html.Hidden("Id", Model.User.UserId)
                                
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <input type="password" name="Password" class="form-control projInput" placeholder="Password" required title="Minimum 8 characters at least 1 Alphabet and 1 Number"/>
                                        </div>
                                        <div class="col-xs-5">
                                            <input type="password" name="RepeatPassword" class="form-control projInput" placeholder="Repeat password" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <input type="submit" class="btn-pop btn-default pure-button pure-button-primary" value="Change"/>
                                </div>
                            }
                        </div>
                        <i id="open_change" class="fa fa-key taskIcon" aria-hidden="true"></i>
                    </li>
                    <li>
                        <div id="edit_user">
                            @using (Html.BeginForm("EditUserViewModel", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", name = "form_edit_profile", onsubmit = "return validate_profile()" }))
                            {
                                <p id="validation_edit_profile" style="color: Red; text-align: center;"></p>
                                @Html.Hidden("Id", Model.User.UserId)
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <div style="margin-left: 40px">
                                            <div class="col-xs-3">
                                                <img class="img-circle" src="@Model.User.UserPhoto" width="50" height="50"/>
                                            </div>
                                            <div class="col-xs-4">
                                                <ul class="list-inline">
                                                    <li style="width: 100px"><span id="open_edit_user_photo" >Edit photo</span></li>
                                                    <li style="width: 150px"><a href="@Url.Action("ClearPhoto", "Manage", new {Id = Model.User.UserId})">Clear photo</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="col-xs-4">
                                            @Html.DropDownList("Role", Model.Roles, new {@class = "btnDropRole selectpicker" })
                                        </div>
                                    }
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-4">
                                        @Html.TextBox("Name", Model.User.FirstName, "", htmlAttributes: new {@class = "form-control projInput", placeholder = "Name", required = true})
                                    </div>
                                    <div class="col-xs-6">
                                        @Html.TextBox("Surname", Model.User.Surname, "", htmlAttributes: new {@class = "form-control projInput", placeholder = "Surname", required = true})
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-10">
                                        @Html.TextBox("Email", Model.User.Email, "", htmlAttributes: new {@class = "form-control projInput", placeholder = "Email", required = true})
                                    </div>
                                </div>
                                <div class="text-right">
                                    <input type="submit" class="btn-pop btn-default" vlaue="Save"/>
                                </div>
                            }
                        </div>
                        <i id="open_edit_user" class="fa fa-pencil taskIcon" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>

        @if (Model.Projects != null && (Model.Projects.Count() > 0))
        {
            <div class="row">
                <h1>
                    <b>My Projects</b>
                </h1>
                <div class="col-md-3 col-xs-6 MyProjectsProfile">
                    <ul class="delete_from_project">
                        @foreach (var project in Model.Projects)
                        {
                            <li>
                                <a class="linkMyProject" href="/Manage/Project/@project.ProjectId">@project.Name</a>
                                <i class="fa fa-times close_user_project text-right" aria-hidden="true" onclick="delete_user_from_project_profile(this, projId = @project.ProjectId, userId = @Model.User.UserId)"></i>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        
    </div>


    <div class="row">
        <div class="col-md-8 col-xs-11">

            <h1><b>Assigned to me</b>
            </h1>

            <div class="text-right col-md-12 col-xs-12">
                @Html.PageLinks(Model.Paged, x => Url.Action("Profile", new { page = x, userId = Model.User.UserId }))
            </div>

            <table class="table projectTableHome">
                <tbody>
                @foreach (var defect in Model.UserDefects)
                {
                    <tr class="clickable-row" data-href="/Manage/Task/@defect.DefectId">
                        <td class="col-xs-1">
                            <img class="projectIcon" src="@defect.PriorityPhoto">
                        </td>
                        <td>
                            <label>@defect.Prefix</label>
                            <span class="project_todo">@defect.Status</span>
                            <p class="project_subject">@defect.Subject</p>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <i class="fa fa-pencil-square-o ProjTasks" aria-hidden="true"> All tasks: @Html.Encode(Model.Paged.TotalItems)</i>
        </div>
    </div>
</div>