@using BugsTrackingSystem.Models
@model BugsTrackingSystem.Models.ProjectExtendedViewModel

@{
    ViewBag.Title = "Project";
}

<div class="container">
    <ul class="list-inline">
        <li>
            <h1><b>@Model.Name</b>
            </h1>
        </li>
        <li>
            <i class="open fa fa-plus-circle projPlus" aria-hidden="true"></i>
        </li>
    </ul>
    <ul class="list-inline icons">
        <li>
            <i class="fa fa-pencil-square-o" aria-hidden="true"> @Model.DefectsCount</i>
        </li>
        <li>
            <i class="fa fa-users" aria-hidden="true"> @Model.UsersCount</i>
        </li>
    </ul>

    <table class="table projectTable">
        <tbody>
         @foreach(var data in Model.Defects)
         {
               <tr class="clickable-row" data-href="/Manage/Task">
                <td>
                    <img class="projectIcon" src="@data.PriorityPhoto">
                </td>
                <td>
                    <label>TDD</label>
                    <span class="project_todo">@data.Status</span>
                    <p> @data.Subject</p>
                </td>
                <td>
                    <p>
                        <span class="projText">Created:</span> 10/10/16
                    </p>
                    <p>
                        <span class="projText">Updated:</span> 10/10/16
                    </p>
                </td>
                <td>
                    <img class="img-responsive img-circle" height="50" width="50" src="@data.AssigneeUserPhoto">
                </td>
                <td>
                    <p>@data.AssigneeUserName</p>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <i class="fa fa-pencil-square-o ProjTasks" aria-hidden="true"> Tasks: @Html.Encode(Model.DefectsCount)</i>

</div>

