
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <ul class="list-inline">
        <li>
            <h1><b>The Titan</b></h1>
        </li>
        <li>
            <div id="add_task" title="Create new project">
                @using (Html.BeginForm("Project", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-10">
                                @Html.TextBox("Title", null, "", htmlAttributes: new { @class = "form-control projInput", placeholder = "Title" })
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBox("Project", null, "", htmlAttributes: new { @class = "form-control projInput", placeholder = "Project" })
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBox("Owner", null, "", htmlAttributes: new { @class = "form-control projInput", placeholder = "Owner" })
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBox("Property", null, "", htmlAttributes: new { @class = "form-control projInput", placeholder = "Property" })
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBox("Status", null, "", htmlAttributes: new {@class = "form-control projInput", placeholder = "Status"})
                            </div>
                            <div class="col-xs-10">
                                @Html.TextBox("Description", null, "", htmlAttributes: new {@class = "form-control descInput", placeholder = "Description"})
                            </div>
                            
                        </div>
                    </div>
                    <div class="text-right"><input type="submit" class="btn-pop btn-default" vlaue="Create"/>
                    </div>
                }
            </div>
            <i class="open fa fa-plus-circle projPlus" aria-hidden="true"></i>
        </li>
    </ul>
    <ul class="list-inline icons">
        <li>
            <i class="fa fa-pencil-square-o" aria-hidden="true"> 67</i>
        </li>
        <li>
            <i class="fa fa-users" aria-hidden="true"> 7</i>
        </li>
    </ul>

    <table class="table projectTable">
        <tbody>
        <tr class="clickable-row" data-href="/Manage/Task">
            <td>
                <img class="projectIcon" src="~/images/icon_down.png">
            </td>
            <td>
                <label>TDT-67</label>
                <span class="project_todo">To do</span>
                <p>Font for password is different from other labels font on 'Login' screen</p>
            </td>
            <td>
                <p>
                    <span class="projText">Created:</span> 10/10/16
                </p>
                <p>
                    <span class="projText">Updated:</span> 10/10/16
                </p>
            </td>
            <td>
                <img class="img-responsive img-circle" height="50" width="50" src="~/images/orwell.jpg">
            </td>
            <td>
                <p>George Orwell</p>
            </td>
        </tr>

        <tr class="clickable-row" data-href="/Manage/Task">
            <td>
                <img class="projectIcon" src="~/images/icon_up.png">
            </td>
            <td>
                <label>TDT-66</label>
                <span class="project_progress">In progress</span>
                <p>The error message is displayed after tapping on the 'Get Link' button on the volume's 'Information' screen</p>
            </td>
            <td>
                <p>
                    <span class="projText">Created:</span> 10/10/16
                </p>
                <p>
                    <span class="projText">Updated:</span> 10/10/16
                </p>
            </td>
            <td>
                <img class="img-responsive img-circle" height="50" width="50" alt="no image" src="~/images/agatha.jpg">
            </td>
            <td>
                <p>Agatha Clarissa</p>
            </td>
        </tr>

        <tr class="clickable-row" data-href="/Manage/Task">
            <td>
                <img class="projectIcon" src="~/images/icon_mark.png">
            </td>
            <td>
                <label>TDT-15</label>
                <span class="project_done">Done</span>
                <p>Account activation link in Registration email is invalid</p>
            </td>
            <td>
                <p>
                    <span class="projText">Created:</span> 10/10/16
                </p>
                <p>
                    <span class="projText">Updated:</span> 10/10/16
                </p>
            </td>
            <td>
                <img class="img-responsive img-circle" height="50" width="50" alt="no image" src="~/images/ernest.jpg">
            </td>
            <td>
                <p>Ernest Hemingway</p>
            </td>
        </tr>

        </tbody>
    </table>

    <i class="fa fa-pencil-square-o ProjTasks" aria-hidden="true"> Tasks: 67</i>

</div>

