@using System.Data.Entity.Core.Mapping
@using BugsTrackingSystem.Models
@model BugsTrackingSystem.Models.ProjectExtendedViewModel

@{
    ViewBag.Title = "Project";
}

<div class="container">
    <ul class="list-inline">
        <li>
            <h1><b>@Model.Name</b>
            </h1>
        </li>
        <li>
            <i class="open fa fa-plus-circle projPlus" aria-hidden="true"></i>
        </li>
    </ul>
    <ul class="list-inline icons">
        <li>
            <i class="fa fa-pencil-square-o" aria-hidden="true"> @Model.DefectsCount</i>
        </li>
        <li>
            <div class="dropdown">
                <i class="fa fa-users" aria-hidden="true" data-toggle="dropdown" type="button"> @Model.UsersCount</i>
                <table class="dropdown-menu list_users_project">
                    <tbody>
                        @*<i class="fa fa-caret-up" aria-hidden="true"></i>*@
                    @foreach (var user in Model.Users)
                    {
                        <tr class="hovering">
                            <td class="col-md-2">
                                <img class="img-responsive img-circle" height="50" width="50" src="@user.UserPhoto"/>
                            </td>
                            <td class="col-md-4">
                                <p>@user.FirstName @user.Surname</p>
                                <p>@user.Email</p>
                            </td>
                            <td class="col-md-1 text-right">
                                <i class="fa fa-times close_user hide_cross" aria-hidden="true"></i>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </li>
    </ul>

    <table class="table projectTable">
        <tbody>
        @foreach (var data in Model.Defects)
        {
            <tr class="clickable-row" data-href="@Url.Action("Task", "Manage", new {id = data.DefectId})">
                <td>
                    <img class="projectIcon" src="@data.PriorityPhoto">
                </td>
                <td>
                    <label>TDD</label>
                    @if (data.Status == "Open")
                    {
                        <span class="project_done">@data.Status</span>
                    }
                    else if (data.Status == "In Progress")
                    {
                        <span class="project_progress">@data.Status</span>
                    }
                    else
                    {
                        <span class="project_todo">@data.Status</span>
                    }
                    <p> @data.Subject</p>
                </td>
                <td>
                    <p>
                        <span class="projText">Created:</span> @data.CreationDate
                    </p>
                    <p>
                        @if (@data.ModificationDate != null)
                        {
                            <span class="projText">Updated:</span>
                            @data.CreationDate
                        }
                        else
                        {
                            <span class="projText">Updated:</span>
                            @Html.Label("--/--/--")
                        }
                    </p>
                </td>
                <td>
                    <img class="img-responsive img-circle" height="50" width="50" src="@data.AssigneeUserPhoto">
                </td>
                <td>
                    <p>@data.AssigneeUserName</p>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <i class="fa fa-pencil-square-o ProjTasks" aria-hidden="true"> Tasks: @Html.Encode(Model.DefectsCount)</i>

</div>

