@using AsignarDBEntities
@using BugsTrackingSystem.Helpers
@using Microsoft.Data.OData.Query.SemanticAst
@model BugsTrackingSystem.Models.IndexViewModel

@{
    ViewBag.Title = "Projects";
}

<div class="container">
    <div class="col-md-12 col-xs-12">
        <ul class="list-inline">
            <li>
                <h1>
                    <b>Projects</b>
                </h1>
            </li>
            <li>
                @if (User.IsInRole("Admin"))
                { 
                <div id="add_project" class="popUpTitle">
                    @using (Html.BeginForm("RecieveForm", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", name = "form_new_project", onsubmit = "return validate_new_project()" }))
                    {
                        <p id="validation_new_project" style="color: Red; text-align: center;"></p>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-10">
                                    @Html.TextBox("Name", null, "", new {@class = "form-control projInput", placeholder = "Project Name", required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-5">
                                    @Html.TextBox("Key", null, "", new {@class = "form-control projInput", placeholder = "Key", required = "required" })
                                </div>
                                <div class="col-xs-5">
                                    <span class="popUpText">Three letters for description</span>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <input type="submit" class="btn-pop btn-default" value="Create"/>
                        </div>
                    }
                </div>
                <span class="popover_custom" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Add Project">
                    <i id="opener" class="fa fa-plus taskIcon projPlus" aria-hidden="true"></i>
                </span>
                
                }
            </li>
        </ul>

        <div class="text-right col-md-12 col-xs-12" style="float: right !important; margin-top: 10px">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("Projects", new {page = x}))
        </div>

        @foreach (var project in Model.Projects)
        {
                <div class="col-md-3 col-xs-6 MyProjects" onclick="goto_project(projId = @project.ProjectId)">
                    @Html.Hidden("Id", project.ProjectId)
                    <h3 class="projName user_overline">@project.Name</h3>
                    <p class="projPref">@project.Prefix</p>
                    <div class="text-right">
                        <ul class="list-inline icons">
                            <li>
                                <i class="fa fa-pencil-square-o" aria-hidden="true"> @project.DefectsCount</i>
                            </li>
                            <li>
                                <i class="fa fa-users" aria-hidden="true"> @project.UsersCount</i>
                            </li>
                        </ul>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <span id="close_project_hover" class="glyphicon glyphicon-remove-sign hide_project" aria-hidden="true" onclick="hideProject(this, @project.ProjectId)"></span>
                    }
                </div>
        }
    </div>
</div>

@if (Model.Projects != null && (Model.Projects.Count() > 0))
{
    <div class="container">
        <div class="col-xs-6">
            <br>
            <p><i class="underContent fa fa-th-list" aria-hidden="true"> Projects: @Html.Encode(Model.PageInfo.TotalItems)</i>
            </p>
        </div>
    </div>
}