@using AsignarDBEntities
@using BugsTrackingSystem.Helpers
@using Microsoft.Data.OData.Query.SemanticAst
@model BugsTrackingSystem.Models.IndexViewModel

@{
    ViewBag.Title = "Projects";
}

<div class="container">
    <div class="col-md-12 col-xs-12">
        <ul class="list-inline">
            <li>
                <h1>
                    <b>Projects</b>
                </h1>
            </li>
            <li>
                <div id="add_project" class="popUpTitle">
                    @using (Html.BeginForm("RecieveForm", "Manage", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                    {
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-10">
                                    @Html.TextBox("Name", null, "", htmlAttributes: new {@class = "form-control projInput", placeholder = "Project Name"})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-5">
                                    @Html.TextBox("Key", null, "", htmlAttributes: new {@class = "form-control projInput", placeholder = "Key"})
                                </div>
                                <div class="col-xs-5">
                                    <span class="popUpText">Three letters for description</span>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <input type="submit" class="btn-pop btn-default" value="Create"/>
                        </div>
                    }
                </div>
                <i id="opener" class="fa fa-plus taskIcon projPlus" aria-hidden="true"></i>
            </li>
        </ul>
        <div class="text-right col-md-12 col-xs-12">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("Projects", new {page = x}))
        </div>

            @foreach (var project in Model.Projects)
            {
                <a href="@Url.Action("Project", "Manage", new {id = project.ProjectId})" class="projectsPage">
                    <div class="col-md-3 col-xs-6 MyProjects">
                        @Html.Hidden("Id", project.ProjectId)
                        <h3 class="projName">@project.Name</h3>
                        <p class="projPref">@project.Prefix</p>
                        <div class="text-right">
                            <ul class="list-inline icons">
                                <li>
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"> @project.DefectsCount</i>
                                </li>
                                <li>
                                    <i class="fa fa-users" aria-hidden="true"> @project.UsersCount</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            }
        </div>
</div>
<div class="container">
    <div class="col-xs-6">
        <br>
        <p><i class="underContent fa fa-th-list" aria-hidden="true"> @Html.Encode(Model.PageInfo.TotalItems)</i>
        </p>
    </div>
</div>
