@using System.Data.Entity.Core.Mapping
@using BugsTrackingSystem.Models
@model BugsTrackingSystem.Models.AddNewUserToProjectViewModel

@{
    ViewBag.Title = "Project";

    var sorting = new List<SelectListItem>();

    sorting.Add(new SelectListItem { Text = "Title", Value = "Title", Selected = Model.SelectedItem == "Title" });
    sorting.Add(new SelectListItem { Text = "Status", Value = "Status", Selected = Model.SelectedItem == "Status" });
    sorting.Add(new SelectListItem { Text = "Date", Value = "Date", Selected = Model.SelectedItem == "Date" });
    sorting.Add(new SelectListItem { Text = "Users", Value = "Users", Selected = Model.SelectedItem == "Users" });
    sorting.Add(new SelectListItem { Text = "Priority", Value = "Priority", Selected = Model.SelectedItem == "Priority" });
}

<div class="container">
    <ul class="list-inline">
        <li>
            <h1><b>@Model.Project.Name</b>
            </h1>
        </li>
        <li>
            <i class="open fa fa-plus taskIcon projPlus" aria-hidden="true"></i>
        </li>
        <li>
            <div id="edit_project">
                @using (Html.BeginForm("EditProjectName", "Manage", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {
                    @Html.Hidden("Id", Model.Project.ProjectId)
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-10">
                                @Html.TextBox("NewName", Model.Project.Name, "", htmlAttributes: new { @class = "form-control projInput", placeholder = "Project Name" })
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <input type="submit" class="btn-pop btn-default" value="Save"/>
                    </div>
                }
            </div>
            <i id="open_edit" class="fa fa-pencil taskIcon" aria-hidden="true"></i>
        </li>
        <li>
            <i class="fa fa-pause taskIcon" aria-hidden="true"></i>
        </li>
        <li>
            <i class="fa fa-times taskIcon" aria-hidden="true"></i>
        </li>
        <li style="float: right !important">
            <div>
                @using (Html.BeginForm("", "", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="input-append">
                        <input type="text" class="form-control search_field" placeholder="Search"/>
                        <button type="submit" class="search_btn">
                            <i class="fa fa-search search_icon"></i>
                        </button>
                    </div>
                }
                <a href="@Url.Action("Search", "Manage")" class="search_link" style="float: right !important">Advanced search</a>
            </div>
        </li>
    </ul>
    <ul class="list-inline icons">
        <li>
            <i class="fa fa-pencil-square-o" aria-hidden="true"> @Model.Project.DefectsCount</i>
        </li>
        <li>
            <div class="dropdown">
                <i class="fa fa-users" aria-hidden="true" data-toggle="dropdown" type="button"> @Model.Project.UsersCount</i>
                <ul class="dropdown-menu list_users_project">
                    @*<i class="fa fa-caret-up" aria-hidden="true"></i>*@
                    @foreach (var user in Model.Project.Users)
                    {
                        <li>
                            <ul class="list-inline" style="width: 100%; margin-top: 10px;">
                                <li>
                                    <img class="img-responsive img-circle" height="50" width="50" src="@user.UserPhoto"/>
                                </li>
                                <li style="width: 180px">
                                    <p>@user.FirstName @user.Surname</p>
                                    <p>@user.Email</p>
                                </li>
                                <i class="fa fa-times close_user text-right" aria-hidden="true"></i>
                            </ul>
                            
                        </li>
                    }
                </ul>
            </div>
        </li>
        <li>
            <div id="add_user_to_project">
                @using (Html.BeginForm("AddUsersToProject", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {

                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    @Html.Hidden("Id", Model.Project.ProjectId)
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-10 users_to_project">
                                @foreach (var user in Model.Users)
                                {
                                    <div class="user_line">
                                        <ul class="list-inline">
                                            @Html.CheckBox("userIds", new { value = user.UserId })
                                            <li><img src="@user.UserPhoto" class="img-responsive img-circle" height="50" width="50"/></li>
                                            <li>
                                                <div class="col-xs-4 user_line_data">
                                                    <ul class="list-inline">
                                                        <li style="width: 150px">@user.FirstName @user.Surname</li>
                                                        <li style="width: 150px">@user.Email</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="user_line_top">
                                                @user.Role
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 user_count"><b>Users: @Model.Users.Count()</b></div>
                        <div class="text-right">
                            <input type="submit" class="btn-pop btn-default" value="Add user" />
                        </div>
                }
            </div>
            <i id="open_add_user" class="fa fa-plus" aria-hidden="true"></i>
        </li>
    </ul>

    <div class="col-md-12 col-xs-12">
        <ul class="list-inline">
            <li>
                <span class="sort_by"><b>Sort by: </b></span>
            </li>
            <li>
                @using (Html.BeginForm("SortProject", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.Hidden("Id", Model.Project.ProjectId)
                    @Html.DropDownList("drop-down", sorting, new {@class = "dropdown_sorting", onchange = "this.form.submit()" })
                }
            </li>
        </ul>
    </div>
    
    <table class="table projectTable">
        <tbody>
        @foreach (var data in Model.Project.Defects)
        {
            <tr class="clickable-row" data-href="@Url.Action("Task", "Manage", new {id = data.DefectId})">
                <td style="width: 5%;">
                    <img class="projectIcon" src="@data.PriorityPhoto">
                </td>
                <td>
                    <label>@Model.Project.Prefix</label>
                    @if (data.Status == "Open" || data.Status == "Done" || data.Status == "Closed")
                    {
                        <span class="project_done">@data.Status</span>
                    }
                    else if (data.Status == "In Progress" || data.Status == "In Testing")
                    {
                        <span class="project_progress">@data.Status</span>
                    }
                    else
                    {
                        <span class="project_todo">@data.Status</span>
                    }
                    <p> @data.Subject</p>
                </td>
                <td>
                    <p>
                        <span class="projText">Created:</span> @data.CreationDate
                    </p>
                    <p>
                        @if (data.ModificationDate != null)
                        {
                            <span class="projText">Updated:</span>
                            @data.CreationDate
                        }
                        else
                        {
                            <span class="projText">Updated:</span>
                            @Html.Label("--/--/--")
                        }
                    </p>
                </td>
                <td>
                    <img class="img-responsive img-circle" height="50" width="50" src="@data.AssigneeUserPhoto">
                </td>
                <td>
                    <p style="margin-top: 15px; position: relative">@data.AssigneeUserName</p>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <i class="fa fa-pencil-square-o ProjTasks" aria-hidden="true"> Tasks: @Html.Encode(Model.Project.DefectsCount)</i>

</div>

