@using System.Web.Mvc.Html
@using BugsTrackingSystem.Helpers
@model BugsTrackingSystem.Models.SearchViewModel

@{
    ViewBag.Title = "Search";

    var sorting = new List<SelectListItem>();

    sorting.Add(new SelectListItem { Text = "Title", Value = "Title", Selected = Model.SelectedItem == "Title" });
    sorting.Add(new SelectListItem { Text = "Status", Value = "Status", Selected = Model.SelectedItem == "Status" });
    sorting.Add(new SelectListItem { Text = "Date", Value = "Date", Selected = Model.SelectedItem == "Date" });
    sorting.Add(new SelectListItem { Text = "Users", Value = "Users", Selected = Model.SelectedItem == "Users" });
    sorting.Add(new SelectListItem { Text = "Priority", Value = "Priority", Selected = Model.SelectedItem == "Priority" });

    string sort = ViewBag.sortOrder;
    @Html.Hidden("Selected", sort);

    foreach (int id in Model.Filter.PriorityIDs)
    {
        Model.Select.Priority.First(e => e.Value == id.ToString()).Selected = true;
    }
    foreach (int id in Model.Filter.ProjectIDs)
    {
        Model.Select.Projects.First(e => e.Value == id.ToString()).Selected = true;
    }
    foreach (int id in Model.Filter.UserIDs)
    {
        Model.Select.Users.First(e => e.Value == id.ToString()).Selected = true;
    }
    foreach (int id in Model.Filter.StatusIDs)
    {
        Model.Select.Status.First(e => e.Value == id.ToString()).Selected = true;
    }
}

<div class="container">
    <h1>
        <b>Search</b>
    </h1>

@using (Html.BeginForm("Search", "Manage", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "searchForm" }))
{
    <div class="col-md-12 col-xs-12 searchBox">
        <ul class="list-inline">
            <li class="col-md-4 col-xs-4">
                @Html.TextBox("Search", Model.Filter.Search, "", htmlAttributes: new { @class = "form-control searchInput", placeholder = "Type here...", })
            </li>
            <li>
                @Html.DropDownList("Priorities", Model.Select.Priority, new { @class = "selectpicker", placeholder = "Priority", multiple = "multiple" })
            </li>
            <li>
                @Html.DropDownList("Statuses", Model.Select.Status, new { @class = "selectpicker", placeholder = "Status", multiple = "multiple" })
            </li>
            <li>
                @Html.DropDownList("Projects", Model.Select.Projects, new { @class = "selectpicker", placeholder = "Projects", multiple = "multiple" })
            </li>
            <li>
                @Html.DropDownList("Assignees", Model.Select.Users, new { @class = "selectpicker", placeholder = "Users", multiple = "multiple" })
            </li>
        </ul>
    </div>


    <div class="col-md-12 col-xs-12">
        <ul class="list-inline" style="margin-left: 20px;">
            <li>
                <input type="submit" class="btn-pop btn-default" value="Find" />
            </li>
            <li>
                <i class="fa fa-repeat  taskIcon projPlus" aria-hidden="true" onclick="resetAll()"></i>
            </li>
            <li>
                <div id="select_filter">
                    <div class="col-xs-10 choosing_filter">
                        @foreach (var filter in Model.FilterInfo)
                        {
                            <a class="col-md-12 col-xs-12 filter_line" href="@Url.Action("Search", "Manage", new {fsilterId = filter.FilterId})">
                                @filter.Title
                            </a>
                        }
                    </div>
                </div>
                <i id="open_filter" class="fa fa-filter  taskIcon projPlus" aria-hidden="true"></i>
            </li>
            <li>
                 @*@{Html.RenderAction("SaveFilterView");}*@
                <i id="open_save_filter" class="fa fa-floppy-o  taskIcon projPlus" aria-hidden="true"></i>
            </li>
        </ul>
    </div>

    <div class="text-right col-md-12 col-xs-12" style="float: right !important; margin-top: 10px">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Search", new { page = x }))
    </div>

    <div class="col-md-12 col-xs-12">
        <ul class="list-inline">
            <li>
                <span class="sort_by"><b>Sort by: </b></span>
            </li>
            <li>
                @Html.DropDownList("sortOrder", sorting, new { @class = "dropdown_sorting selectpicker", onchange = "this.form.submit()" })
            </li>
        </ul>
    </div>
}
    <table class="table projectTable">
        <tbody>
        @foreach (var data in Model.Defects)
        {
            <tr>
                <td style="width: 5%;">
                    <img class="projectIcon" src="@data.PriorityPhoto">
                </td>
                <td>
                    <label>@data.Prefix</label>
                    @if (data.Status == "Open" || data.Status == "Done" || data.Status == "Closed")
                    {
                        <span class="project_done">@data.Status</span>
                    }
                    else if (data.Status == "In Progress" || data.Status == "In Testing")
                    {
                        <span class="project_progress">@data.Status</span>
                    }
                    else
                    {
                        <span class="project_todo">@data.Status</span>
                    }
                    <p> @data.Subject</p>
                </td>
                <td style="text-align:center; padding: 30px">
                    <p>@data.ProjectName</p>
                </td>
                <td>
                    <p>
                        <span class="projText">Created:</span> @data.CreationDate
                    </p>
                    <p>
                        @if (data.ModificationDate != null)
                        {
                            <span class="projText">Updated:</span>
                            @data.CreationDate
                        }
                        else
                        {
                            <span class="projText">Updated:</span>
                            @Html.Label("--/--/--")
                        }
                    </p>
                </td>
                <td>
                    <img class="img-responsive img-circle" height="50" width="50" src="@data.AssigneeUserPhoto">
                </td>
                <td>
                    <p style="margin-top: 15px; position: relative">@data.AssigneeUserName</p>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


