@model BugsTrackingSystem.Models.SearchViewModel

@{
    ViewBag.Title = "Search";

    var sorting = new List<SelectListItem>();

    sorting.Add(new SelectListItem { Text = "Title", Value = "Title", Selected = Model.SelectedItem == "Title" });
    sorting.Add(new SelectListItem { Text = "Status", Value = "Status", Selected = Model.SelectedItem == "Status" });
    sorting.Add(new SelectListItem { Text = "Date", Value = "Date", Selected = Model.SelectedItem == "Date" });
    sorting.Add(new SelectListItem { Text = "Users", Value = "Users", Selected = Model.SelectedItem == "Users" });
    sorting.Add(new SelectListItem { Text = "Priority", Value = "Priority", Selected = Model.SelectedItem == "Priority" });
}

<div class="container">
    <h1>
        <b>Search</b>
    </h1>

    <div class="col-md-12 col-xs-12 searchBox">
        @using (Html.BeginForm("Filters", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <ul class="list-inline">
                <li class="col-md-4 col-xs-4">
                    @Html.TextBox("Input", null, "", htmlAttributes: new { @class = "form-control searchInput", placeholder = "Type here...", required = true })
                </li>
                <li>
                    @Html.DropDownList("Priority", Model.Select.Priority, new { @class = "selectpicker", placeholder = "Priority", multiple = "multiple" })
                </li>
                <li>
                    @Html.DropDownList("Status", Model.Select.Status, new { @class = "selectpicker", placeholder = "Priority", multiple = "multiple" })
                </li>
                <li>
                    @Html.DropDownList("Projects", Model.Select.Projects, new { @class = "selectpicker", placeholder = "Priority", multiple = "multiple" })
                </li>
                <li>
                    @Html.DropDownList("Users", Model.Select.Users, new { @class = "selectpicker", placeholder = "Priority", multiple = "multiple" })
                </li>
            </ul>
        }
    </div>

    <div class="col-md-12 col-xs-12">
        <ul class="list-inline" style="margin-left: 20px;">
            <li>
                <a href="#"><i class="fa fa-search taskIcon projPlus" aria-hidden="true"></i></a>
            </li>
            <li>
                <i class="fa fa-repeat  taskIcon projPlus" aria-hidden="true"></i>
            </li>
            <li>
                <i class="fa fa-filter  taskIcon projPlus" aria-hidden="true"></i>
            </li>
            <li>
                <i class="fa fa-floppy-o  taskIcon projPlus" aria-hidden="true"></i>
            </li>
        </ul>
    </div>


    <div class="col-md-12 col-xs-12">
        <ul class="list-inline">
            <li>
                <span class="sort_by"><b>Sort by: </b></span>
            </li>
            <li>
                @using (Html.BeginForm("SortDefects", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    string sort = ViewBag.sortOrder;
                    @Html.DropDownList("drop-down", sorting, sort, new { @class = "dropdown_sorting selectpicker", onchange = "this.form.submit()", selected = Model.SelectedItem })
                }
            </li>
        </ul>
    </div>

    @*<table class="table projectTable">
        <tbody>
            @foreach (var data in Model.Project.Defects)
            {
                <tr class="clickable-row" data-href="@Url.Action("Task", "Manage", new {id = data.DefectId})">
                    <td style="width: 5%;">
                        <img class="projectIcon" src="@data.PriorityPhoto">
                    </td>
                    <td>
                        <label>@Model.Project.Prefix</label>
                        @if (data.Status == "Open" || data.Status == "Done" || data.Status == "Closed")
                        {
                            <span class="project_done">@data.Status</span>
                        }
                        else if (data.Status == "In Progress" || data.Status == "In Testing")
                        {
                            <span class="project_progress">@data.Status</span>
                        }
                        else
                        {
                            <span class="project_todo">@data.Status</span>
                        }
                        <p> @data.Subject</p>
                    </td>
                    <td>
                        <p>
                            <span class="projText">Created:</span> @data.CreationDate
                        </p>
                        <p>
                            @if (data.ModificationDate != null)
                            {
                                <span class="projText">Updated:</span>
                                @data.CreationDate
                            }
                            else
                            {
                                <span class="projText">Updated:</span>
                                @Html.Label("--/--/--")
                            }
                        </p>
                    </td>
                    <td>
                        <img class="img-responsive img-circle" height="50" width="50" src="@data.AssigneeUserPhoto">
                    </td>
                    <td>
                        <p style="margin-top: 15px; position: relative">@data.AssigneeUserName</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@


    </div>

