@model BugsTrackingSystem.Models.DefectExtendedViewModel
@{
    ViewBag.Title = "Task";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var items = new List<SelectListItem>();
    foreach(var status in Model.StatusesList)
    {
        items.Add(new SelectListItem() {Text = status.Text, Value = status.Value});
    }
}

<div class="container top">

    <div style="margin-left: 20px;">
        <a href="Manage/Project/" class="project_link">Project</a>
        <span style="font-size: 15px"> / TDT-13</span>
        <p style="font-size: 20px"><b>@Model.Subject</b></p>
    </div>

    <div class="row">

        <div class="text-right">
            <i class="fa fa-pencil taskIcon" aria-hidden="true"></i>
            <i class="fa fa-files-o taskIcon" aria-hidden="true"></i>
            <i class="fa fa-trash taskIcon" aria-hidden="true"></i>
        </div>
    </div>

    <div class="top-buffer">
        <div class="col-md-12 col-xs-12">
            
            <div class="row">
                <div class="col-md-8 col-xs-12" style="padding: 15px;">
                    <div id="currentTask">
                        <div class="col-md-8 text-left">
                            <span class="taskPriority"><b>Priority:</b></span>
                            <img src="@Model.PriorityPhoto"/>
                            <span id="statusMajor"></span>
                        </div>
                        <div class="col-md-4 text-right">
                            <span class="taskPriority"><b>Status:</b></span>
                            @Html.DropDownList("drop-down", items, new {@class = "btnDropTaskPage"})
                        </div>
                        <br><hr>
                        <div class="taskText">
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12" style="padding: 15px;">
                    <div id="currentProfile" style="padding-left: 20px">
                        <div class="top-buffer">
                            <ul class="list-inline">
                                <li>
                                    <span class="taskPriority"><b>Assignee:</b></span>
                                </li>
                                <li style="float: right !important;">
                                    <a class="taskAssignee" href="#">Assign to me</a>
                                </li>
                            </ul>   

                            <ul class="list-inline">
                                <li>
                                    <img class="img-circle" src="@Model.AssigneeUserPhoto" width="50" height="50" style="margin-top: -10px;"/>
                                </li>
                                <li>
                                    <span>@Model.AssigneeUserName</span><br>
                                    <span>@Model.AssigneeUserEmail</span>
                                </li>
                            </ul>

                            <i class="fa fa-calendar taskCalend" aria-hidden="true"> <b>Created: @Model.CreationDate</b></i><br>
                            @if (Model.ModificationDate != null)
                            {
                                <i class="fa fa-calendar taskCalend" aria-hidden="true"> <b>Updated: @Model.ModificationDate</b></i>
                            }
                            else
                            {
                                <i class="fa fa-calendar taskCalend" aria-hidden="true"> <b>Updated: --/--/--</b></i>
                            }
                            
                            <div style="margin-top: 10px;">
                                @Html.Label("Attachments")
                                <i class="fa fa-plus-circle circle_attach" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="detailBox">
        <div class="actionBox">
            <ul class="commentList">
                @foreach (var comment in Model.Comments)
            {
                    <li>
                        <div class="commenterImage">
                            <img src="http://lorempixel.com/50/50/people/6" />
                        </div>
                        <div class="commentText">
                            <p class="">@comment.CommentText</p> <span class="date sub-text">@comment.CreationDate.ToString("HH:mm:ss dd.MM.yyyy")</span>
                        </div>
                    </li>
                }
            </ul>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Your comments" />
                </div>
                <div class="form-group">
                    <button class="btn btn-default">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

