@model BugsTrackingSystem.Models.TaskViewModel
@{
    ViewBag.Title = "Task";

    Model.ChangeDefect.Projects.First(p => p.Value == Model.DefectInfo.ProjectId.ToString()).Selected = true;
    Model.ChangeDefect.Priority.First(p => p.Value == Model.DefectInfo.PriorityId.ToString()).Selected = true;
    Model.ChangeDefect.Users.First(p => p.Value == Model.DefectInfo.UserId.ToString()).Selected = true;
    Model.ChangeDefect.Status.First(p => p.Value == Model.DefectInfo.StatusId.ToString()).Selected = true;
}

<div class="container top">

    <div style="margin-left: 20px;">
        <a href="@Url.Action("Project", "Manage", new {id = Model.DefectInfo.ProjectId})" class="project_link">@Model.DefectInfo.ProjectName</a>
        <span style="font-size: 15px"> / @Model.DefectInfo.Prefix</span>
        <p style="font-size: 20px">
            <b>@Model.DefectInfo.Subject</b>
        </p>
    </div>
    
    <div class="row">
        <div class="text-right">
            <div id="edit_task" title="Create new project">
                @using (Html.BeginForm("EditTask", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", name = "form_edit_task", onsubmit = "return validate_task()" }))
            {
                    <p id="validation" style="color: Red; text-align: center;"></p>
                    @Html.Hidden("DefectId", Model.DefectInfo.DefectId)
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-10">
                                @Html.TextBox("Name", Model.DefectInfo.Subject, "", new { @class = "form-control projInput", placeholder = "Task name", required = "required" })
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 35px;">
                            <div class="col-xs-5">
                                @Html.DropDownList("Project", Model.ChangeDefect.Projects, new { @class = "btnDropTask selectpicker", placeholder = "Project", id = "projectEditSelect" })
                            </div>
                            <div class="col-xs-5" style="margin-left: 20px;">
                                @Html.DropDownList("Owner", Model.ChangeDefect.Users, new { @class = "btnDropTask selectpicker", placeholder = "Owner", id = "userEditSelect" })
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 35px;">
                            <div class="col-xs-5">
                                @Html.DropDownList("Priority", Model.ChangeDefect.Priority, new { @class = "btnDropTask selectpicker", placeholder = "Priority" })
                            </div>
                            <div class="col-xs-5" style="margin-left: 20px;">
                                @Html.DropDownList("Status", Model.ChangeDefect.Status, new { @class = "btnDropTask selectpicker", placeholder = "Status" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10">
                                @Html.TextArea("Description", Model.DefectInfo.Description, new { rows = 5, @class = "form-control descInput", placeholder = "Description", required = "required" })
                            </div>
                        </div>
                        <hr style="width: 500px">
                        <div class="attachments">
                            @Html.Label("Attachments")
                            <i class="fa fa-plus-circle circle_attach" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="text-right">
                        <input type="submit" class="btn-pop btn-default" value="Edit" />
                    </div>
                }
            </div>
            <i id="open_edit_task" class="fa fa-pencil taskIcon" aria-hidden="true" title="Edit"></i>
            <i class="fa fa-files-o taskIcon" aria-hidden="true"></i>
            <a title="Delete" onclick="deleteDefect(defId = @Model.DefectInfo.DefectId, projId = @Model.DefectInfo.ProjectId)"><i class="fa fa-trash taskIcon" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="top-buffer">
        <div class="col-md-12 col-xs-12">
            
            <div class="row">
                <div class="col-md-8 col-xs-12" style="padding: 15px;">
                    <div id="currentTask">
                        <div class="col-md-8 text-left">
                            <span class="taskPriority"><b>Priority:</b></span>
                            <img src="@Model.DefectInfo.PriorityPhoto"/>
                            @if (Model.DefectInfo.PriorityName == "Major")
                            {
                                <span style="color: #F69C00;"><b>@Model.DefectInfo.PriorityName</b></span>
                            }
                            else if (Model.DefectInfo.PriorityName == "Minor")
                            {
                                <span style="color: #B3ABA8;"><b>@Model.DefectInfo.PriorityName</b></span>
                            }
                            else
                            {
                                <span style="color: #CD4C24;"><b>@Model.DefectInfo.PriorityName</b></span>
                            }
                        </div>
                        <div class="col-md-4 text-right">
                            <span class="taskPriority"><b>Status:</b></span>
                            <span><b>@Model.DefectInfo.StatusName</b></span>      
                        </div>
                        <br><hr>
                        <div class="taskText">
                            <p>@Model.DefectInfo.Description</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12" style="padding: 15px;">
                    <div id="currentProfile" style="padding-left: 20px">
                        <div class="top-buffer">
                            <ul class="list-inline">
                                <li>
                                    <span class="taskPriority"><b>Assignee:</b></span>
                                </li>
                                <li style="float: right !important;">
                                    @Html.ActionLink("Assign to me", "AssignDefectToUser", "Manage", new { defectId = Model.DefectInfo.DefectId }, new { @class = "taskAssignee" })
                                </li>
                            </ul>   

                            <ul class="list-inline">
                                <li>
                                    <img class="img-circle" src="@Model.DefectInfo.AssigneeUserPhoto" width="50" height="50" style="margin-top: -10px;"/>
                                </li>
                                <li>
                                    <span>@Model.DefectInfo.AssigneeUserName</span><br>
                                    <span>@Model.DefectInfo.AssigneeUserEmail</span>
                                </li>
                            </ul>

                            <i class="fa fa-calendar taskCalend" aria-hidden="true"> <b>Created: @Model.DefectInfo.CreationDate</b></i><br>
                            @if (Model.DefectInfo.ModificationDate != null)
                            {
                                <i class="fa fa-calendar taskCalend" aria-hidden="true"> <b>Updated: @Model.DefectInfo.ModificationDate</b></i>
                            }
                            else
                            {
                                <i class="fa fa-calendar taskCalend" aria-hidden="true"> <b>Updated: --/--/--</b></i>
                            }
                            
                            <div style="margin-top: 10px;">
                                @Html.Label("Attachments")
                                <i class="fa fa-plus-circle circle_attach" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="detailBox">
        <div class="actionBox">
            <ul class="commentList">
                @foreach (var comment in Model.DefectInfo.Comments)
                {
                    <li>
                        <div class="commenterImage">
                            <img src="@comment.UserPhoto" style="margin-top: 10px;"/>
                        </div>
                        <div class="commentText">
                            <p><b>@comment.UserName</b>
                            </p>
                            <p class="">@comment.CommentText</p> <span class="date sub-text">@comment.CreationDate.ToString("HH:mm:ss dd.MM.yyyy")</span>
                        </div>
                    </li>
                }
            </ul>
            @using (Html.BeginForm("AddComment", "Manage", FormMethod.Post, new {@class = "form-inline", role = "form", name = "form2", id = "form2", onsubmit = "return validate()"}))
            {
                @Html.Hidden("defectId", Model.DefectInfo.DefectId)
                <div class="form-group" style="width: 89%">
                    @Html.TextBox("text", "", new {@class = "form-control", placeholder = "Your comments", style = "color: black; width: 100%", name = "t", required = "required" })
                </div>
                <div class="form-group" style="width: 10%">
                    <input type="submit" class="btn btn-default" value="Add" style="min-width: 66px;"/>
                </div>
            }
        </div>
        <p id="validation_comment" style="color: Red; text-align: center;"></p>
    </div>
</div>

