@using System.Web.Mvc.Html
@using BugsTrackingSystem.Helpers
@model BugsTrackingSystem.Models.IndexViewModel

@{
    ViewBag.Title = "Users";
}


<div class="container">
    <div class="col-md-12 col-xs-12">
        <ul class="list-inline">
            <li>
                <h1><b>Users</b>
                </h1>
            </li>
            <li>
                <div id="add_user" class="popUpTitle">
                    @using (Html.BeginForm("AddUser", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", name = "form_new_user", onsubmit = "return validate_new_user()" }))
                    {
                        <p id="validation_adding_user" style="color: Red; text-align: center;"></p>
                        @Html.ValidationSummary(true, "", new {@class = "text-validation"})
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-4">
                                    @Html.TextBox("FirstName", null, "", new {@class = "form-control projInput", placeholder = "Name", required = true })
                                </div>
                                <div class="col-xs-6">
                                    @Html.TextBox("Surname", null, "", new {@class = "form-control projInput", placeholder = "Surname", required = true })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-10">
                                    @Html.TextBox("Email", null, "", new {@class = "form-control projInput", placeholder = "Email", required = true })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    @Html.TextBox("Password", null, "", new {@class = "form-control projInput", type="password", placeholder = "Password", title = "Minimum 8 characters at least 1 Alphabet and 1 Number", required = true })
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBox("ConfirmPassword", null, "", new {@class = "form-control projInput", type = "password", placeholder = "Confirm Password", required = true })
                                </div>
                                <div class="col-xs-3">
                                    @Html.DropDownList("Role", Model.Roles, new {@class = "btnDropRole"})
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <input type="submit" class="btn-pop btn-default" value="Create"/>
                        </div>
                    }
                </div>
                <span class="popover_custom" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Add User">
                    <i id="open_user" class="fa fa-plus taskIcon projPlus" aria-hidden="true"></i>
                </span>
                
            </li>
        </ul>

        <div class="text-right col-md-12 col-xs-12"style="float: right !important">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("Users", new { page = x }))
        </div>
        
        @foreach (var user in Model.Users)
        {
                <div class="col-md-3 col-xs-6 MyUsers" onclick="goto_user(userId = @user.UserId)">
                    <ul class="list-inline">
                        <li>
                            <img class="img-circle" src="@user.UserPhoto" width="50" height="50" style="margin-top: -30px;" />
                        </li>
                        <li>
                            <span class="user_overline">@user.FirstName @user.Surname</span><br>
                            <span class="user_overline">@user.Email</span>
                        </li>
                    </ul>
                    <ul class="list-inline icons">
                        <li style="margin-top: -15px; margin-left: -15px">
                            @if (user.Role == "Admin")
                            {
                                <h5><span class="project_todo">Admin</span></h5>
                            }
                        </li>
                        <li style="float: right !important">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"> @user.DefectsCount</i>
                        </li>
                        <li style="float: right !important">
                            <i class="fa fa-list" aria-hidden="true"> @user.ProjectsCount</i>
                        </li>
                    </ul>
                    <span id="close_user_hover" class="glyphicon glyphicon-remove-sign hide_user" aria-hidden="true" onclick="hideUser(this, @user.UserId)"></span>
                </div>
        }
    </div>
</div>

<div class="container">
    <div class="col-xs-12">
        <br>
        <p>
            <i class="fa fa-users underContent" aria-hidden="true"> Users: @Html.Encode(Model.PageInfo.TotalItems)</i>
        </p>
    </div>
</div>