@model BugsTrackingSystem.Models.ForgotPasswordViewModel

@{
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/scripts.js")

<body class="top loginPage">
    <div class="container">
        <div class="text-center">
            <img src="~/images/logo-vertical.png">
        </div>

        <div class="top-buffer row">
            <div class="text-center">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-validation" })
                    @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-validation" })
                    <h5 class="forgotText">If you can't access Asignar, fill in this form and an email will be<br>sent to you with the details to access your account again</h5>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control authInput", @placeholder = "Email"})

                        </div>
                    </div>
                    <div class="top">
                        <input type="submit" class="btn-log btn-default" value="Send"/>
                    </div>
                    <div class="top">
                        @Html.ActionLink("Login", "Login", "Account", new {@class = "forgotPass"})
                    </div>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</body>
